<%- include('index', {title: 'Contact Us', content: 'contact'}) %>

<h1>Contact Us</h1>

<ul>
  <li>Email</li>
  <li>Mobile</li>
  <li>Address</li>
</ul>

<p>About Company</p>

<button>Contact Us</button>
