<%- include('index', {title: 'Services', content: 'services'}) %>

<h1>Our Services</h1>

<ul>
  <li>Service 1</li>
  <li>Service 2</li>
  <li>Service 3</li>
</ul>

<p>About Services</p>

<button>Contact Us</button>
